@import url('https://fonts.googleapis.com/css?family=Actor');

body {
  margin: 0;
  padding: 0;
  font-family: 'Actor', sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a:visited {
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Projects {
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.Project {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50vw;
  height: 40vh;
  font-size: 1rem;

  background: #222;
  color: white;
}

.Project-inner {
  padding: 0 1em;  
}

.Stats > ul {
  list-style: none;
  padding: 0;
}

.Stats > ul li {
  display: inline;
  margin-left: 1em;
}

.Chips {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap; 
}

.Language {
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  border-radius: 1em;
  min-width: 50px;

  background: black;  
}

.Topic {
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  border-radius: 1em;
  min-width: 50px;

  background: orange;  
}

.Intro {
  margin: 2em 0; 
}

.Avatar {
  width: 30vh;
  border-radius: 15vh;
}

.No-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.Link {
  color: #7f3bba !important;
  cursor: pointer;
}

.Source {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Source img {
  width: 32px;
  margin-right: 0.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  .Project {
    width: 100vw;
    height: 50vh;
  }
}